/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

/* =================
Typography
================= */

h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/* =================
Layout
================= */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
}

/* navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
  text-transform: uppercase;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}

/* =================
MAIN 
================= */

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

main {
  width: 70%;
  font-family: "Ubuntu", sans-serif;
  color: #707070;
}
main h2 {
  font-family: "Lora", serif;
  color: #143774;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.08rem;
  color: #143774;
}

main p {
  font-size: 1.125em;
  font-weight: 300;

  line-height: 1.3em;
}

main span {
  font-weight: bold;
}

.main img {
  max-height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.date {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 0.85rem;
  color: #707070;
}
.continue--reading {
  text-transform: uppercase;
  color: #1792d2;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
@media (max-width: 675px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.small--image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.small--image img {
  object-fit: cover;
}

.article-main {
  width: 67%;
}
.article-main h2 {
  margin-top: 0;
}

.image--date {
  width: 30%;
}

.image--date img {
  min-height: 250px;
  object-fit: cover;
  order: -2;
}

.image--date p {
  order: -1;
}

@media (max-width: 675px) {
  .article-main {
    width: 100%;
  }
  .main .continue--reading {
    margin-bottom: 2em;
  }
  .small--image {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .image--date {
    width: 100%;
    /* margin-bottom: 2em; */
  }

  .image--date img {
    max-height: 280px;
    object-fit: cover;
    object-position: bottom;
  }
  .image--date:first-child {
    margin-top: 2em;
  }

  .date {
    pos
  }
}

/* =================
SIDEBAR 
================= */

aside {
  width: 25%;
}

.sidebar {
  border: 20px solid #efefef;
  margin-bottom: 2em;
  padding: 1em;
  padding-top: 0;
}

.sidebar hr {
  margin-bottom: 1em;
}

.sidebar p {
  font-size: 0.875em;
  font-weight: 300;
  color: #143774;
  line-height: 1.5em;
}

.recent--posts {
  display: flex;
  flex-direction: column;
}

aside h3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0.2em;
  color: #143774;
}

aside h4 {
  font-size: 1em;
  color: #143774;
  font-weight: 300;
  line-height: 1.2em;
  margin-top:0.5em;
  margin-bottom: 1em;
}

aside p {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 1.4em;
  line-height: 1.5em;
}

main img {
  width: 100%;
}

aside img {
  width: 100%;
}

@media (max-width: 675px) {
  aside {
    width: 100%;
  }
  aside img {
    object-fit: cover;
    max-height: 90px;
  }
  .first--image {
    max-height: 140px;
    object-fit: cover;
  }
}

/* =================
FOOTER
================= */

footer {
  background-color: #143774;
  padding: 3em 0;
  text-align: center;
}

footer p {
  margin: 0;
  color: #ffffff;
  opacity: 54%;
  font-weight: 300;
}
